appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
cypari==1.2.2
decorator==4.0.10
FXrays==1.3.1
ipython==5.0.0
ipython-genutils==0.1.0
networkx==1.11
pathlib2==2.1.0
pexpect==4.2.0
pickleshare==0.7.3
plink==1.9.1
prompt-toolkit==1.0.5
ptyprocess==0.5.1
Pygments==2.1.3
pypng==0.0.18
simplegeneric==0.8.1
six==1.10.0
snappy==2.4.1
spherogram==1.5.1
traitlets==4.2.2
wcwidth==0.1.7
